<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row justify-content-center align-items-end">
        <mat-card class="col-md-12" style="margin-top: 5%">
          <div class="d-flex justify-content-center">
            <h1>JSON Tester</h1>
          </div>
          <div class="row">
            <form [formGroup]="jsonFormGroup">
              <mat-form-field class="fullwidth" appearance="fill">
                <mat-label>JSON Tester</mat-label>
                <textarea
                  matInput
                  formControlName="json"
                  rows="15"
                ></textarea>
              </mat-form-field>
            </form>
          </div>
        </mat-card>
        <mat-card class="col-md-12" style="margin-top: 1%" *ngIf="formattedJson">
          {{formattedJson | json}}
        </mat-card>
        <mat-card class="col-md-12" style="margin-top: 1%" *ngIf="myError">
          <p style="color: red; font-size: large;">{{myError}}</p>
        </mat-card>
        <mat-card class="col-md-4" style="margin-top: 1%" *ngIf="formattedJsonForTable">
          <table style="width: 100%" mat-table [dataSource]="formattedJsonForTable" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> value </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
</div>
